## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a=5

In [2]:
print(a)

5

2) Imprimir el tipo de dato de la constante 8.5

In [9]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [13]:
type(5)

int

In [20]:
mi_nombre="Lis"

5) Crear una variable que contenga un número complejo

In [25]:
num_complejo= 2 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [26]:
type(num_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [28]:
pi=3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [29]:
a=True

In [30]:
b="True"

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [33]:
print(type(a)),print(type(b))

<class 'bool'>
<class 'str'>

(None, None)

10) Asignar a una variable, la suma de un número entero y otro decimal

In [40]:
a=5.3+6

11) Realizar una operación de suma de números complejos

In [45]:
a=2+4j
b=3+2j
print(a+b)

(5+6j)

12) Realizar una operación de suma de un número real y otro complejo

In [51]:
c= (2 + 4j) + 1.3
print(c)

(3.3+4j)

13) Realizar una operación de multiplicación

In [55]:
d=2*2
print(d)

4

14) Mostrar el resultado de elevar 2 a la octava potencia

In [57]:
e=2**8
print(e)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [59]:
f=27/4
print(f)

6.75

16) De la división anterior solamente mostrar la parte entera

In [67]:
print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [68]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [71]:
g=4*6+3
print(g)

27

In [72]:
g=4*(6+0.75)
print(g)

27.0

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [74]:
frase="feliz"+"dia"
print(frase)

felizdia

In [75]:
var1="feliz"
var2="dia¡"
print(var1+var2)

felizdia¡

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [77]:
2==2

True

In [78]:
2=="2"

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [79]:
2==int("2")

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [82]:
a=float("3,8") # porque es un str
print(a)

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [83]:
a=3
a-=1
print(a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [84]:
1<<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [85]:
2+"2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [86]:
2+2

4

In [87]:
"2"+"2"

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [91]:
var1="texto"
var2=2
print(var1 * var2 + str(var2) + "bueno")

textotexto2bueno